.drag-container {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
drag-item {
  position:relative;
  display:inline-block;
  user-select: none;
  cursor:grab;
  z-index:10;
  &:active {
    cursor:grabbing;
  }
}
.drag-transform {
  transition: transform 0.25s ease-out;
  transform-origin: center center;
  &.drag-active { transition: transform 0.25s cubic-bezier(0,.5,0,1); }
}
.drag-content {
  transform: scale(1);
  transition: all 0.1s ease-in-out;
}
.drag-active {
  z-index:20;
  .drag-content {
    transform: scale(1.15);
  }
}
